body {
    background: rgb(56, 56, 56);
}

#beige {
    background:rgb(238, 217, 148);
    width: 85%;
    height:300px;
    color:rgb(77, 76, 76);
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}



#demo {
    font-size: 75px;
    
}

#more {
    font-size: 50px;
    text-align: center;
}
